.uvp_puebla{
    height: 15%;
    width: 20%;
    border-radius: 10px;
    filter: saturate(200%);
}
.uvp_tehuacan{
    height: 15%;
    width: 20%;
    border-radius: 10px;
    filter: saturate(200%);
}
.aztlan{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.calmecac{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.tlaloc{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.cuetlaxcoapan{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.kukulcan{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.quetzalcoatl{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.teocalli{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}
.artes_humanidades{
    height: 5%;
    width: 25%;
    border-radius: 10px;
    filter: saturate(200%);
}
.ciencias_salud{
    height: 20%;
    width: 25%;
    border-radius: 10px;
    filter: saturate(200%);
}
.ciencias_vida{
    height: 20%;
    width: 25%;
    border-radius: 10px;
    filter: saturate(200%);
}
.ingenierias{
    height: 20%;
    width: 25%;
    border-radius: 10px;
    filter: saturate(200%);
}
.negocios{
    height: 20%;
    width: 25%;
    border-radius: 10px;
    filter: saturate(200%);
}
.panteras{
    height: 25%;
    width: 30%;
    border-radius: 10px;
    filter: saturate(200%);
}